{% extends 'base.html' %}
{% block body %}
<div class="container mt-5 mb-5">
    <div class="card bg-light mb-3">
        <div class="row no-gutters">
            <!-- Profile Photo -->
            <div class="col-md-4 p-4">
                <div class="position-relative">
                    <img src="{{ user.avatar.img }}" alt="Profile Photo" class="profile-photo card-img-top" style="width: 300px; height: 300px;">
                </div>
            </div>
            <!-- User Information -->
            <div class="col-md-8">
                <div class="card-body">
                    <form  method="post"> {% csrf_token %}
                        <div class="mb-3">
                            <label for="firstname" class="form-label"><strong>Firstname:</strong></label>
                            <input type="text" class="form-control" id="firstname" name="firstname" value="{{ user.first_name }}">
                        </div>
                        <div class="mb-3">
                            <label for="lastname" class="form-label"><strong>Lastname:</strong></label>
                            <input type="text" class="form-control" id="lastname" name="lastname" value="{{ user.last_name }}">
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label"><strong>Username:</strong></label>
                            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
                        </div>
                        {% if messages %}
                        {% for message in messages %}
                        <p class="{{ message.tags }}" align="center" style="color: red;">{{ message }}</p>
                        {% endfor %}
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="{% url 'main:profile' user.id %}" class="btn btn-secondary">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
