{% extends 'base.html' %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ movie.poster.url }}" class="img-fluid mb-3" alt="Movie Poster" style="width: 400px; height: 600px;">
        </div>
        <div class="col-md-6">
            <h1 class="h2 mb-4">{{ movie.title }}
                <span style="font-size: 20px; margin-left: 10px;">
                    <i class="fas fa-star" style="color: gold;"></i> {{ movie.rating }} / 5
                </span>
            </h1>
            <h2 class="h4"><strong>Description:</strong></h2>
            <div id="description-container" style="overflow-y: auto; max-height: 250px;">
                <p class="lead" id="description">{{ movie.description }}</p>
            </div>
            <br>
            <h2 class="h4"><strong>Genre:</strong></h2>
            <p class="lead">{{ movie.category }}</p>
            <h2 class="h4"><strong>Release Date:</strong></h2>
            <p class="lead">{{ movie.release_date }}</p>
            <h2 class="h4"><strong>Actors:</strong></h2>
            <p class="lead">{{ movie.actors }}</p>
            <a href="{{ movie.trailer }}"><button type="button" class="btn btn-primary btn-lg mt-3">Watch Trailer</button></a>
            <a href="{% url 'main:ratemovie' movie.id %}"><button type="button" class="btn btn-warning btn-lg mt-3">Rate this movie</button></a>
        </div>
    </div>

    <h2 class="h2 mb-4">User Reviews</h2>

    <section class="content-item" id="comments">
        <div class="container">   
            <div class="row">
                <div class="col-sm-12">
                    {% if user.is_authenticated %}   
                    <form method="post" action="{% url 'main:reviewmovie' movie.id %}"> {% csrf_token %}
                        <h3 class="pull-left">Add a review</h3>
                        <button type="submit" class="btn btn-light pull-right">Submit</button>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-2 col-lg-1 hidden-xs"> <!-- Adjusted column width -->
                                    <img class="img-responsive" src="{{ user.avatar.img }}" alt="" style="height: 100px; width: 100px;">
                                </div>
                                <div class="form-group col-xs-12 col-sm-10 col-lg-11"> <!-- Adjusted column width -->
                                    <textarea class="form-control" id="message" placeholder="Your review" required="" name="review"></textarea>
                                </div>
                            </div>  	
                        </fieldset>
                    </form>
                    {% if messages %}
                    {% for msg in messages %}
                    <p class="{{msg.tags}}" align="center" style="color: red;">{{msg}}</p>
                    {%endfor %}
                    {% endif %}
                    {% else %}
                    <div class="alert alert-warning mt-3" role="alert">
                        You must be logged in to review.
                        <a href="{% url 'main:login' %}" class="btn btn-primary btn-sm ml-2">Login</a>
                    </div>
                    {% endif %}
                    
                    <h3>{{ count }} Review(s)</h3>
                    
                    <!-- REVIEW - START -->
                    {% for review in reviews %}
                    <div class="media">
                        <a class="pull-left" href="{% url 'main:profile' review.user.id %}"><img class="media-object" src="{{ review.user.avatar.img }}" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">{{ review.user.username }}</h4>
                            <p>{{ review.review }}</p>
                            <ul class="list-unstyled list-inline media-detail pull-left">
                                <li><i class="fa fa-calendar"></i>{{ review.added_on }}</li>
                            </ul>
                        </div>
                    </div>
                    {% empty %}
                    <div class="alert alert-info" role="alert">
                        No reviews yet!!
                    </div>
                    {% endfor %}
                    <!-- REVIEW - END -->
                </div>
            </div>
        </div>
    </section>
    
</div>

<script>
    // Limit description to 250 words
    let description = document.getElementById('description').innerText;
    let words = description.split(' ');
    if (words.length > 250) {
        words = words.slice(0, 250);
        document.getElementById('description').innerText = words.join(' ') + '...';
    }
</script>

{% endblock %}
