/* Login BEGIN */

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
/* Login END */

/* NAVBAR */

body {
    background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
    color: #514B64;
    min-height: 100vh;
  }
  
  code {
    background: #fff;
    padding: 0.2rem;
    border-radius: 0.2rem;
    margin: 0 0.3rem;
  }

  /* NAVBAR END */

  /* PRofile photo */
  .profile-photo {
      width: 300px;
      height: 300px;
      object-fit: cover;
  }
  /* PRofile photo end */

  /* Reviewss */

  content-item {
    padding:30px 0;
	background-color:#FFFFFF;
}

.content-item.grey {
	background-color:#F0F0F0;
	padding:50px 0;
	height:100%;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight:400;
	font-size:20px;
	color:#555555;
	margin:10px 0 15px;
	padding:0;
}

.content-headline {
	height:1px;
	text-align:center;
	margin:20px 0 70px;
}

.content-headline h2 {
	background-color:#FFFFFF;
	display:inline-block;
	margin:-20px auto 0;
	padding:0 20px;
}

.grey .content-headline h2 {
	background-color:#F0F0F0;
}

.content-headline h3 {
	font-size:14px;
	color:#AAAAAA;
	display:block;
}


#reviews {
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}

#reviews form {
	margin-bottom:30px;
}

#reviews .btn {
	margin-top:7px;
}

#reviews form fieldset {
	clear:both;
}

#reviews form textarea {
	height:100px;
}

#reviews .media {
	border-top:1px dashed #DDDDDD;
	padding:20px 0;
	margin:0;
}

#reviews .media > .pull-left {
    margin-right:20px;
}

#reviews .media img {
	max-width:100px;
  border-radius: 20%;
}

#reviews .media h4 {
	margin:0 0 10px;
}

#reviews .media h4 span {
	font-size:14px;
	float:right;
	color:#999999;
}

#reviews .media p {
	margin-bottom:15px;
	text-align:justify;
}

#reviews .media-detail {
	margin:0;
}

#reviews .media-detail li {
	color:#AAAAAA;
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
}

#reviews .media-detail a:hover {
	text-decoration:underline;
}

#reviews .media-detail li:last-child {
	padding-right:0;
}

#reviews .media-detail li i {
	color:#666666;
	font-size:15px;
	margin-right:10px;
}
/* REVIEWS end */